{% extends 'base_assessment.html' %}

{% block assessment-header %}
<h3>Scoring View / Summary Description</h3>
<div class="card-group">
    {% for member in team.applicant.team.members.all %}
        <section class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-fluid" src="{{ member.user.profile.profileImg.url }}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h5>{{ member.role|capfirst }}</h5>
                        <img src="{{ member.user.profile.country.flag }}" alt=""> {{ member.user.profile.country.name}}
                        <h3>{{ member.user.get_full_name }}</h3>

                    </div>
                </div>
            </header>
            <article class="card-block">
                <header>
                    <h4>Competition Experience</h4>
                </header>
                <table class="table table-sm table-striped table-hover">
                    <thead class="thead-default">
                        <tr>
                            <td>Country</td>
                            <td>Name</td>
                            <td>Year</td>
                            <td>Days</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for competition in member.user.profile.competition_set.all %}
                            <tr>
                                <td><img src="{{ competition.country.flag}}" alt=""> {{ competition.country.name }}</td>
                                <td>{{ competition.name}}</td>
                                <td>{{ competition.year }}</td>
                                <td>{{ competition.duration }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="table-success">
                            <td>Rating: </td>
                            <td><input type="text" style="width: 80px;"></td>
                        </tr>
                    </tbody>
                </table>
            </article>
            {% comment %}{% endcomment %}
            <article class="card-block">
                <header>
                    <h4>International Experience</h4>
                </header>
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Country</td>
                            <td>Position</td>
                            <td>Employer</td>
                            <td>Duration</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for internship in member.user.profile.internship_set.all %}
                            <tr>
                                <td><img src="{{ internship.country.flag }}" alt=""> {{ internship.country.name }}</td>
                                <td>{{ internship.position }}</td>
                                <td>{{ internship.employer }}</td>
                                <td>{{ internship.duration}} {{ internship.measure}}</td>
                            </tr>
                        {% endfor %}
                        <tr class="table-success">
                            <td>Rating: </td>
                            <td><input type="text" style="width: 80px;"></td>
                        </tr>
                    </tbody>
                </table>

            </article>
            {% comment %}{% endcomment %}
            <article class="card-block">
                <header>
                    <h4>Relevant Coursework</h4>
                </header>
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Subject</td>
                            <td>Title</td>
                            <td>Employer</td>
                            <td>Duration</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in member.user.profile.studentprofile.course_set.all %}
                            <tr>
                                <td>{{ course.get_subject_display }}</td>
                                <td>{{ course.title }}</td>
                                <td>{{ course.institution_abbr }}</td>
                                <td>{{ course.duration}} {{ course.measure}}</td>
                            </tr>
                        {% endfor %}
                        <tr class="table-success">
                            <td>Rating: </td>
                            <td><input type="text" style="width: 80px;"></td>
                        </tr>
                    </tbody>
                </table>

            </article>
        </section>
    {% endfor %}
</div>
{% endblock assessment-header %}

{% block assessment-presentation %}
    
    {% for member in team.applicant.team.members.all %}
        <article class="row">
            <header class="col-sm-2">
                <div class="card">
                    <div class="card-header">
                        <img src="{{ member.user.profile.country.flag }}" alt=""> {{ member.user.profile.country.name}}
                        <h3 class="card-title">{{ member.user.get_full_name }}</h3>
                        <img class="img-fluid" src="{{ member.user.profile.profileImg.url }}" alt="">
                        <h5>{{ member.role|capfirst }}</h5>
                    </div>
                    {% comment %}{% endcomment %}
                    <ul class="list-group list-group-flush">
                        {% comment %}<h4>Awards</h4>{% endcomment %}
                        
                        {% for award in member.user.profile.award_set.all %}
                            <li class="list-group-item">
                                {{ award.competition }} /  {{ award.competition.year }}
                                <p><strong>{{ award.title }}</strong></p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                    
            </header>
            <content class="col-sm-10">
                <h4>Competition Experience</h4>
                <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td>Country</td>
                                <td>Name</td>
                                <td>Year</td>
                                <td>Days</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for competition in member.user.profile.studentprofile.competition_set.all %}
                                <tr>
                                    <td><img src="{{ competition.country.flag}}" alt=""> {{ competition.country.name }}</td>
                                    <td>{{ competition.name}}</td>
                                    <td>{{ competition.year }}</td>
                                    <td>{{ competition.duration }} {{ competition.measure}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <h4>International Experience</h4>
                <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td>Field</td>
                                <td>Country</td>
                                <td>Position</td>
                                <td>Employer</td>
                                <td>Duration</td>
                                <td>Year</td>
                                <td>Scope of Work</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for internship in member.user.profile.studentprofile.internship_set.all %}
                                <tr>
                                    <td>{{ internship.get_field_of_practice_display }}</td>
                                    <td><img src="{{ internship.country.flag }}" alt=""> {{ internship.country.name }}</td>
                                    <td>{{ internship.position }}</td>
                                    <td>{{ internship.employer }}</td>
                                    <td>{{ internship.duration}} {{ internship.measure}}</td>
                                    <td>{{ internship.year}}</td>
                                    <td>{{ internship.descr }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <h4>Relevant Coursework</h4>
                <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td>Institution</td>
                                <td>Subject</td>
                                <td>Title</td>
                                <td>Instructor</td>
                                <td>Duration</td>
                                <td>Learnings</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in member.user.profile.studentprofile.course_set.all %}
                                <tr>
                                    <td>{{ course.institution_abbr }}</td>
                                    <td>{{ course.get_subject_display }}</td>
                                    <td>{{ course.title }}</td>
                                    <td>{{ course.instructor }}</td>
                                    <td>{{ course.duration}} {{ course.measure}}</td>
                                    <td>{{ course.learnings}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </content>
        </article>
    {% endfor %}
        
{% endblock assessment-presentation %}

{% block scoring-section %}

{% endblock scoring-section %}