{% load static %}
{% comment %}Loads the tags.py files{% endcomment %}
{% load tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% comment %}CDN links for production{% endcomment %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        {% comment %}LOCAL FILEIMPORT{% endcomment %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% comment %}Bootstrap Table include{% endcomment %}
        {% block css-includes %}{% endblock %}  

        {% comment %}Main Navigation{% endcomment %}
        {% url 'portal:index' as index %}
        {% url 'portal:competition' as competition %}
        {% url 'portal:venues' as venue %}
        {% url 'portal:teams' as teams %}
        {% url 'portal:experts' as experts %}
        {% url 'portal:students' as students %}

        {% comment %}{% endcomment %}
            <nav class="navbar sticky-top navbar-light bg-faded navbar-toggleable">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <a class="navbar-brand" href="{{ index }}">CDRC</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                      <li class="nav-item"><a class="{% active request competition %} nav-link" href="{{ competition }}">Competition</a></li>
                      <li class="nav-item"><a class="{% active request venue %}  nav-link" href="{{ venue }}">Venue</a></li>
                      <li class="nav-item"><a class="{% active request teams %} nav-link" href="{{ teams }}">Teams</a></li>
                      <li class="nav-item"><a class="{% active request experts %} nav-link" href="{{ experts }}">Experts</a></li>
                      <li class="nav-item"><a class="{% active request students %} nav-link" href="{{ students }}">Students</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        {% if not user.is_authenticated %}
                        {% comment %}<li><a role="button" data-toggle="modal" data-target="#loginModal" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>  Log In</a>{% endcomment %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'application:register_user' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                                <form class="form-horizontal" action="/login/" method="post" accept-charset="UTF-8">
                                    {% csrf_token %}
                                    <input id="username" class="form-control login" type="text" name="username" placeholder="Username.." />
                                    <input id="password" class="form-control login" type="password" name="password" placeholder="Password.."/>
                                    <input class="btn btn-primary" type="submit" name="submit" value="login" />
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> {{user.get_full_name}}</i></a>
                            <div class="dropdown-menu" role="menu" aria-labelledby="profileMenue">
                                <div class="dropdown-header">Profile</div>
                                <a class="dropdown-item" href="/profile" class="nav-link">Profile</a>
                                <a class="dropdown-item" href="#" class="nav-link">Messages</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-header">Competition Management</div>
                                <a class="dropdown-item" href="{% url 'dashboard:index'%}" class="nav-link">Dashboard </a>
                                <a class="dropdown-item" href="{% url 'dashboard:manage_experts'%}" class="nav-link">Expert Applications</a>
                                <a class="dropdown-item" href="{% url 'dashboard:manage_teams'%}" class="nav-link">Team Applications</a>
                                <a class="dropdown-item" href="{% url 'dashboard:manage_sessions'%}" class="nav-link">Session Management </a>
                                <a class="dropdown-item" href="{% url 'dashboard:manage_venues'%}" class="nav-link">Venue Management</a>
                                {% comment %}<li><a href="{% url 'application:teamapplication_overview'%}">Teamapplication Overview</a></li>{% endcomment %}
                            </div>
                            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            </nav>
        </div>
    </head>
    <body>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
    <!--Section for additional Navigation for logged in administrative users-->
    {% if user.is_authenticated %}
    {% endif %}

    {% comment %}Extensible Navigation part{% endcomment %}
    {% block sub-navigation %}
    {% endblock sub-navigation %}

    <!--Main Content Section-->
    {% block content %}
    {% endblock %}

    <!--Footer Section of the PAGE-->
    {% block footer %}
    <section class="footer-backdrop">
        <div class="container">
            <div class="footer-left col-sm-4">
                {% block footer-left %}
                {% endblock footer-left %}
            </div>
            <div class="footer-right col-sm-8">
                {% block footer-right %}
                {% endblock footer-right %}
            </div>
        </div>

    </section>
    {% endblock footer %}
    {% comment %}JS Includes{% endcomment %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>        <script src="https://use.fontawesome.com/f071bd482a.js"></script>

    {% comment %}CDN Imports for Production{% endcomment %}
    {% block js-includes %}{% endblock %}
    </body>
</html>