{% extends 'base.html' %}
{% load static %}

{% block css-includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/css/main_application.css' %}">
{% endblock %}


{% block content %}
<section class="jumbotron {% block header-imgClass %}{% endblock %}">
    <div class="container">
        <article>
            <header class="row">
                 <div class="col-md-4">
                 {% block form-header %}
                 {% endblock form-header %}
                 </div>
                 <div class="col-md-8">
                     {% block header-intro %}
                     {% endblock header-intro %}
                 </div>
            </header>
            <content>
                
            </content>
        </article>
    </div>
</section>
<section class="container">
    <div class="row">
        <section class="col-md-3 sidebar-left">
            {% block form-sidebar %}
            {% endblock form-sidebar %}
        </section>
        <section class="col-md-9 form-display">
            {% block form-content %}
            {% endblock %}
        </section>
    </div>
</section>

{% endblock %}

{% block footer-left %}
<h2>Left Footer Section</h2>
{% endblock %}

{% block footer-right %}
<h2>Right footer</h2>
{% endblock footer-right %}
