{% extends 'base.html' %}
{% load static %}

{% block css-includes %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'application/css/main_application.css' %}">-->
{% endblock %}


{% block content %}

    {% block body %}
    {% endblock body %}



{% endblock %}

{% block footer-left %}
<h2>Left Footer Section</h2>
{% endblock %}

{% block footer-right %}
<h2>Right footer</h2>
{% endblock footer-right %}


{% comment %}JAVASCRIPT INCLUDE{% endcomment %}
{% block js-includes %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
    {% block form-js-includes %}
    {% endblock form-js-includes %}
{% endblock js-includes %}







