{% extends "base_dashboard.html" %}

<!--  OVERVIEW HEADER  -->
{% block overview-head %}

{% endblock overview-head %}

<!-- CONTENT HEADER  -->
{% block content-header %}

{% endblock content-header %}

<!--   #############   MAIN   CONTENT   ############         -->

<!--  SIDEMENUE -->
{% block content-sidemenue %}

{% endblock content-sidemenue %}

<!--  MAIN CONTENT  -->
{% block content-main %}

{% endblock content-main %}


<!--   FOOTER   -->
{% block footer-left %}

{% endblock footer-left %}


{% block footer-right %}

{% endblock footer-right %}