{% extends 'base_profile.html' %}

{% block profile-header %}

<div class="container">
    <article class="row">
        <header class="col-sm-4">
            <div class="card">
                <!--Profile Picture-->
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-5">
                            <img class="img-fluid" src="{% if attendent.profile.profileImg %}{{ attendent.profile.profileImg.url}} {% else %} https://placehold.it/180x180 {% endif %}" alt="">
                        </div>
                        <div class="col-sm-7">
                             <small>{{ attendent.user.attendent.role|capfirst}}</small>
                            <img src="{{ attendent.country.flag}}" alt=""> {{ attendent.country.name}}
                            <h4>{{ attendent.user.get_full_name }}</h4>
                            <div class="float-sm-left">
                                <ul class="list-inline">
                                    <li class='list-inline-item'><a href="{{ attendent.profile.linkedin}}" class="fa fa-linkedin"></a></li>
                                    <li class='list-inline-item'><a href="{{ attendent.profile.twitter}}" class="fa fa-twitter"></a></li>
                                    <li class='list-inline-item'><a href="{{ attendent.profile.facebook}}" class="fa fa-facebook"></a></li>
                                    <li class='list-inline-item'><a href="{{ attendent.profile.instagram}}" class="fa fa-instagram"></a></li>
                                    <li class='list-inline-item'><a href="{{ attendent.profile.google}}" class="fa fa-google"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="card-block">
                    <!--Contact Details-->
                    <table class="table table-sm">
                        <tbody>
                            <tr><td>Phone: </td><td>{{ attendent.profile.phoneNumber}}</td></tr>
                            <tr><td>Email: </td><td>{{ attendent.user.email}}</td></tr>
                            <tr><td>City: </td><td>{{ attendent.profile.city }}</td></tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="card-footer">
                    <div class="navbar">
                        
                    </div>
                </div>
                {% if request.user.attendent == attendent %}
                    <a href="{% url 'userManagement:profile_edit' %}" role="button" class="btn-block btn-danger">Edit Profile</a>
                {% endif %}
            </div>
        </header>
        <!--Header Detail Section-->
        <content class="col-sm-8">
            <div class="backlink">
            </div>
            <article>
                <header>
                </header>
                <content>
                    <h3>Slogan</h3>
                    <blockquote cite="">
                        {{ attendent.profile.slogan }}
                    </blockquote>
                </content>
            </article>
            <article>
                <header>
                    <h3>Biography</h3>
                </header>
                <content>
                    <p>{{ attendent.profile.bio }}</p>
                </content>
            </article>
        </content>
    </section>
</div>
{% endblock %}

<!--          MAIN BODY            -->

{% comment %}   SIDEBAR   {% endcomment %}
{% block profile-content %}

<!--        DISPLAY ONLY FOR attendent THEMSELVES                          -->

{% if request.user.profile.attendentprofile == attendent %}
    <!--Personal Information Feedback-->
    <section class="row">
        <article class="col-sm-6">
            <article class="row">
                <header>
                    <h4>Upcoming Appointments</h4>
                </header>
                <content>Scheduled Appointments can be displayed here.</content>
            </article>

            <article class="row">
                <header>
                    <h4>Messages</h4>
                </header>
                <content>
                    <!--This is one message-->
                    <article class="row">
                        <header class="col-sm-3">
                            <small>Sent 12:45, 2/3/2017</small>
                            <h5>Marc Aurelius</h5>
                            <p></p>
                        </header>
                        <content class="col-sm-9">
                            <p>Hey this is the message text that i sent you.</p>
                        </content>
                    </article>
                    <article class="row">
                        <header class="col-sm-3">
                            <small>Sent 12:45, 2/3/2017</small>
                            <h5>Marc Aurelius</h5>
                            <p></p>
                        </header>
                        <content class="col-sm-9">
                            <p>Hey this is the message text that i sent you.</p>
                        </content>
                    </article>


                </content>
            </article>
        </article>
        <article class="col-sm-6">
            <article class="row">
                <header>
                    <h4>Score Results</h4>
                </header>
                <content>Display the scores that have been put in so far here.</content>
            </article>

            <article class="row">
                <header>
                    <h4>Score Results</h4>
                </header>
                <content>Display the scores that have been put in so far here.</content>
            </article>

        </article>
    </section>
{% endif %}

<!--        DISPLAY ONLY FOR attendent THEMSELVES                          -->
<section class="row">
        <h3>Upcoming Programs/Trainings</h3>
        {% for program in attendent.program_set.all %}
            <a href="{{program.webpage.url}}">
            <article class="col-sm-6">
                
                <header class="col-sm-12">
                    <p>{{ program.year }}</p>
                    <small></small>
                    <h4>{{ program.title }}</h4>
                </header>
                <aside class="col-sm-4">
                    <h5>{{ program.institution}}</h5>
                    <ul class="list-unstyled">
                        <li>Instructor: {{ program.attendent.user.get_full_name }}</li>
                        <li>Duration: {{ program.duration }} Hours</li>
                    </ul>
                </aside>
                <content class="col-sm-8">
                    <h5>Program Content</h5>
                    <p>{{ program.description }}</p>
                </content>
            </article></a>
            {% endfor %}
            {% for course in mediationCourses %}
                <article class="row">
                
                <header class="col-sm-12">
                    <p>{{ course.year }}</p>
                    <small></small>
                    <h4>{{ course.title }}</h4>
                </header>
                <aside class="col-sm-4">
                    <h5>{{ course.institution}}</h5>
                    <ul class="list-unstyled">
                        <li>Instructor: {{ course.instructor }}</li>
                        <li>Duration: {{ course.duration }} Hours</li>
                    </ul>
                </aside>
                <content class="col-sm-8">
                    <h5>Course Content</h5>
                    <p>{{ course.learnings }}</p>
                </content>
            </article>
            {% endfor %}
        </section>
    

<section class="row">
    <aside class="col-sm-4">
        <h3>Certifications</h3>
        
        {% for certificate in attendent.certification_set.all %}
            <article class="row">
                <header class="col-sm-12">
                    <h4>{{certificate.title}}</h4>
                    
                </header>
                <content class="col-sm-12">
                    <small>{{ certificate.issueDate }} ( {{ certificate.institution }} )</small>
                </content>
            </article>
        {% endfor %}
            

        <article class="row">
            <h3>Languages</h3>
            
            {% for language in attendent.language_set.all %}
                <header>
                    <h4>{{ language.name }}</h4>
                </header>
                <table>
                    <tbody>
                        <tr><td>Spoken: </td><td>{{ language.get_prof_spoken_display|capfirst }}</td></tr>
                        <tr><td>Written: </td><td>{{ language.get_prof_written_display|capfirst }}</td></tr>
                    </tbody>
                </table>
            {% endfor %}
                
        </article>
    </aside>

{% comment %}   MAIN CONTENT   {% endcomment %}
    <main class="col-sm-8">
        <!-- Awards -->
        <section class="row">
            <h3>Mediation Experience</h3>
            {% for experience in attendent.mediationexperience_set.all %}
            <article class="row">
                <div class="col-sm-12">
                    <h5>{{ experience.get_profession_display|capfirst }}</h5>
                    <ul class="list-inline">
                        <li>{{ experience.duration }} Years of Experience</li>
                        <li><img src="{{ experience.country.flag }}" alt=""> {{ experience.country.name }}</li>
                        <li>{{ experience.cases }} Cases worked</li>
                    </ul>
                </div>
                <header class="col-sm-6">
                    <h4>Clients worked with</h4>
                    <p>{{ experience.priorClients }}</p>
                    <small></small>
                </header>
                <content class="col-sm-6">
                    <small></small>
                    <h4>Places worked from</h4>
                    <p>{{ experience.placesWorked }}</p>
                </content>
            </article>
        {% endfor %}
        </section>


        <section class="row">
            <h3>Negotiation Experience</h3>
            {% for experience in attendent.negotiationexperience_set.all %}
            <article class="row">
                <div class="col-sm-12">
                    <h5>{{ experience.get_profession_display|capfirst }}</h5>
                    <ul class="list-inline">
                        <li>{{ experience.duration }} Years of Experience</li>
                        <li><img src="{{ experience.country.flag }}" alt=""> {{ experience.country.name }}</li>
                        <li>{{ experience.cases }} Cases worked</li>
                    </ul>
                </div>
                <header class="col-sm-6">
                    <h4>Clients worked with</h4>
                    <p>{{ experience.priorClients }}</p>
                    <small></small>
                </header>
                <content class="col-sm-6">
                    <small></small>
                    <h4>Places worked from</h4>
                    <p>{{ experience.placesWorked }}</p>
                </content>
            </article>
        {% endfor %}
        </section>


        <!--Relevant Coursework -->
    </main>

</section>
{% endblock %}