{% extends "base_dashboard_index.html" %}


{% block overview-head %}
<div class="container">
    <div class="row">
    <header class="col-sm-12">
        <h2>Dashboard</h2>
    </header>
    
    <section class="col-sm-8">
        Control Settings and overview
    </section>
</div>
</div>
{% endblock overview-head %}

{% block content-main %}
<h2>Main Content</h2>
<section class="row">
    <header>
        <h3>Sessions</h3>
    </header>
    <content>
        Display a paginated list of all sessions ordered by day and automatically 
        subset to upcoming only
    </content>`
</section>

<section class="row">
    <header>
        <h3>Teams</h3>
    </header>
    <content>
        Currently engaged Teams, Scores and current ranking of Teams here
    </content>
</section>

<section class="row">
    <header>
        <h3>Experts</h3>
    </header>
</section>

<section class="row">
    <header>
        <h3>Rooms</h3>
    </header>
    <content>
        Information on the rooms booked by session, current information on the people
        repsonsible and the status of the room readiness for the next session.
    </content>
</section>
<section class="row">
    <header>
        <h3>Venues</h3>
    </header>
</section>
{% endblock content-main %}

{% block content-sidemenue %}
<h2>Sidemenue</h2>
<article class="row">
    <header>
        <h3>Shift</h3>
    </header>
    <content>
        The current shifts, and associated information 
        to notes, contact details, responsibilities etc..
    </content>
</article>

<article class="row">
    <header>
        <h3>Shift</h3>
    </header>
</article>
{% endblock content-sidemenue %}