{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block overview-head %}
<article class="col-sm-8">
    <h2>Expert Application Management</h2>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td class="">Name</td>
                <td class="">Country</td>
                <td class="">Rank</td>
                <td class="">Role</td>
                <td class="">Status</td>
                <td class="">Accept</td>
            </tr>
        
        </thead>
        <tbody>
            <h4>Selected/Accepted Applications <small>({{expertlist_accepted|length }}/{{ expertlist|length }})</small></h4>
            {% for application in expertlist_accepted %}
                <tr class="table-success">
                    <td class=""><a href="{% url 'dashboard:expert_detail' application.applicant.user.username %}">{{ application.applicant.user.get_full_name}}</a></td>
                    <td class=""><img src="{{application.applicant.user.profile.country.flag}}" alt=""> {{application.applicant.user.profile.country.name}}</td>
                    <td>2/32</td>
                    <td class="">{{ application.applicant.role|capfirst }}</td>
                    <td class="">{{ application.get_status_display }}</td>
                    <td><a class="btn-link btn-success" href="#">Accept</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %}{% endcomment %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td class="">Name</td>
                <td class="">Country</td>
                <td class="">Rank</td>
                <td class="">Role</td>
                <td class="">Status</td>
                <td class="">Accept</td>
            </tr>
        </thead>
        <tbody>
            <h4>Reviewed Applications <small>({{expertlist_reviewed|length }}/{{ expertlist|length }})</small></h4>
            {% for application in expertlist_reviewed %}
                <tr class="table-primary">
                    <td class=""><a href="{% url 'dashboard:expert_detail' application.applicant.user.username %}">{{ application.applicant.user.get_full_name}}</a></td>
                    <td class=""><img src="{{application.applicant.user.profile.country.flag}}" alt=""> {{application.applicant.user.profile.country.name}}</td>
                    <td>2/32</td>
                    <td class="">{{ application.applicant.role|capfirst }}</td>
                    <td class="">{{ application.get_status_display }}</td>
                    <td><a class="btn-link btn-success" href="#">Accept</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %}{% endcomment %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td class="">Name</td>
                <td class="">Country</td>
                <td class="">Rank</td>
                <td class="">Role</td>
                <td class="">Status</td>
                <td class="">Accept</td>
            </tr>
        
        </thead>
        <tbody>
            <h4>Unreviewed Applications <small>({{expertlist_unreviewed|length }}/{{ expertlist|length }})</small></h4>
            {% for application in expertlist_unreviewed %}
                <tr class="table-warning">
                    <td class=""><a href="{% url 'dashboard:expert_detail' application.applicant.user.username %}">{{ application.applicant.user.get_full_name}}</a></td>
                    <td class=""><img src="{{application.applicant.user.profile.country.flag}}" alt=""> {{application.applicant.user.profile.country.name}}</td>
                    <td>2/32</td>
                    <td class="">{{ application.applicant.role|capfirst }}</td>
                    <td class="">{{ application.get_status_display }}</td>
                    <td><a class="btn-link btn-success" href="#">Accept</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td class="">Name</td>
                <td class="">Country</td>
                <td class="">Rank</td>
                <td class="">Role</td>
                <td class="">Status</td>
                <td class="">Accept</td>
            </tr>
        
        </thead>
        <tbody>
            <h4>Declined Applications <small>({{expertlist_declined|length }}/{{ expertlist|length }})</small></h4>
            {% for application in expertlist_declined %}
                <tr class="table-danger">
                    <td class=""><a href="{% url 'dashboard:expert_detail' application.applicant.user.username %}">{{ application.applicant.user.get_full_name}}</a></td>
                    <td class=""><img src="{{application.applicant.user.profile.country.flag}}" alt=""> {{application.applicant.user.profile.country.name}}</td>
                    <td>2/32</td>
                    <td class="">{{ application.applicant.role|capfirst }}</td>
                    <td class="">{{ application.get_status_display }}</td>
                    <td><a class="btn-link btn-success" href="#">Accept</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

</article>

{% comment %}Sidebar{% endcomment %}
<section class="col-sm-4">
    <div class="card">   
    <header class="card-header">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{ expert.applicant.user.profile.profileImg.url }}" alt="">
            </div>
            <div class="col-sm-6">
                <h5>{{ expert.applicant.user.get_full_name }}</h3>
                <small>{{ expert.applicant.user.profile.expertprofile.position }} <br>
                @ {{ expert.applicant.user.profile.expertprofile.affiliation }}</small>
            </div>
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    {% if expert.applicant.user.profile.expertprofile.iba_member %}
                    <li><img class="img-fluid" style="height:30px; " src="{% static 'images/iba-logo.jpg' %}" alt=""></li>    
                    {% endif %}
                    {% if expert.applicant.user.profile.expertprofile.imi_certified %}
                    <li><img class="img-fluid" style="height:30px; " src="{% static 'images/imi-logo.png' %}" alt=""></li>
                    {% endif %}
                    {% if expert.applicant.user.profile.expertprofile.viac_member %}
                    <li><img class="img-fluid" style="height:30px; " src="{% static 'images/viac-logo-web.png' %}" alt=""></li>
                    {% endif %}      
                </ul>
            </div>
        </div>
    </header>
    <content class="card-block">
        {% comment %}AVAILABILITY{% endcomment %}
        <article>
            <header>
                <h4>Availability</h4>
            </header>
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr class="success">
                        <td>Timeslot</td>
                        <td>Mon</td>
                        <td>Tue</td>
                        <td>Wed</td>
                        <td>Thu</td>
                        <td>Fri</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Morning</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Afternoon</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </article>
        
        <article class="">
            <header>
                <h4>Student Feedback</h4>
            </header>
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr class="success">
                        <td>Year</td>
                        <td>D1</td>
                        <td>D2</td>
                        <td>D3</td>
                        <td>D4</td>
                        <td>Avg</td>
                        <td>Rank</td>
                    </tr>
                </thead>
                <tbody>
                    {% for review in expert.review_set.all %}
                    <tr>
                        <td>2015</td>
                        <td>{{ review.question_1 }}</td>
                        <td>{{ review.question_2 }}</td>
                        <td>{{ review.question_3 }}</td>
                        <td>{{ review.question_4 }}</td>
                        <td>2.5</td>
                        <td>45/50</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
        <article class="">
            <header>
                <h4>Internal Comment</h4>
            </header>
            {% crispy form %}
        </article>
        
            
    </content>
    <div class="card-footer">
        Status
    </div>
    </div>
</section>
{% endblock overview-head %}

{% comment %} SUMMARY STATISTIC DISPLAY {% endcomment %}
{% block content-header %}
<section class="row">
    {% comment %}{% endcomment %}
    <div class="col-sm-4">
        <article class="card">
            <header class="card-header">
                <h4>Mediation Experience</h4>
            </header>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>Profession</td>
                        <td>Years</td>
                        <td>Cases</td>
                        <td>Clients</td>
                    </tr>
                </thead>
                <tbody>
                    {% for experience in expert.applicant.user.profile.expertprofile.mediationexperience_set.all %}
                        <tr>
                            <td>{{ experience.get_profession_display }}</td>
                            <td>{{ experience.duration }}{{ experience.}}</td>
                            <td>{{ experience.cases }}</td>
                            <td>{{ experience.priorClients|truncatewords:'5'}}</td>
                        </tr>
                    {% endfor %}
                    <tr class="table-success" style="font-weight: bold">
                        <td>Summary</td>
                        <td>25 </td>
                        <td>250 </td>
                        <td>60 </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
    
    <div class="col-sm-4">
    <article class="card">

        <header class="card-header">
            <h4>Negotiation Experience</h4>
        </header>
         <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>Profession</td>
                        <td>Years</td>
                        <td>Cases</td>
                        <td>Clients</td>
                    </tr>
                </thead>
                <tbody>
                    {% for experience in expert.applicant.user.profile.expertprofile.negotiationexperience_set.all %}
                        <tr>
                            <td>{{ experience.get_profession_display }}</td>
                            <td>{{ experience.duration }}</td>
                            <td>{{ experience.cases }}</td>
                            <td>{{ experience.priorClients|truncatewords:'5'}}</td>
                        </tr>
                    {% endfor %}
                    <tr class="table-success" style="font-weight: bold">
                        <td>Summary</td>
                        <td>25 </td>
                        <td>250 </td>
                        <td>60 </td>
                    </tr>
                </tbody>
            </table>

    </article>
    </div>
    <div class="col-sm-4">
        <article class="card">
            <header class="card-header">
                <h4>Certifications</h4>
            </header>
            <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Institution</td>
                            <td>Title</td>
                            <td>Year</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for certificate in expert.applicant.user.profile.expertprofile.certification_set.all %}
                        <tr>
                            <td>{{ certificate.title }}</td>
                            <td>{{ certificate.institution}}</td>
                            <td>{{ certificate.issueDate|date:'Y' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </article>
    </div>
</section>



{% endblock content-header %}

{% comment %}{% endcomment %}
{% block content-main %}
<article class="row">
    <header>
        <h3>Detailed Feedback</h3>
    </header>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <td>Year</td>
                <td>Session</td>
                <td>D1</td>
                <td>D2</td>
                <td>D3</td>
                <td>D4</td>
                <td>Student Comments</td>
            </tr>

        </thead>
        <tbody>
        
            {% for feedback in expert.applicant.feedback_set.all %}
                <tr>
                    <td>{{ feedback.session.startTime|date:"Y"}}</td>
                    <td><a href="{% url 'session:session_detail' feedback.session.slug %}">{{ feedback.session }}</a></td>
                    <td>{{ feedback.category_1}}</td>
                    <td>{{ feedback.category_2}}</td>
                    <td>{{ feedback.category_3}}</td>
                    <td>{{ feedback.category_4}}</td>
                    <td>{{ feedback.text }}</td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
</article>

<!--For later to try out-->
<section class="row">
    <article class="col-sm-6">
        <header>
            <h3>Historical Performance</h3>
        </header>
        <img src="https://www.placehold.it/460x200" alt="">
        <img src="https://www.placehold.it/100x200" alt="">
        Display a lineplot over the individual averages for each category
        over all historical years of participation
    </article>
    <article class="col-sm-6">
        <header>
            <h3>Feedback Sentiment Analysis</h3>
        </header>
        <img src="https://www.placehold.it/460x200" alt="">
        <img src="https://www.placehold.it/100x200" alt="">
        Display Summary Statistics for the Feedback given as ratings.
        Display Emotions associated with the Comments given to the Assessors by Students
    </article>
</section>
{% endblock content-main %}

{% comment %}{% endcomment %}
{% block content-sidemenue %}
<h4>Filter Feedback</h4>
Put filter options here to subset the Feedback section based on
<ul>
    <li>Sentiment</li>
    <li>Rounds</li>
    <li>Years</li>
    <li></li>
</ul>

<article class="row">
    <header>
        <h4></h4>
    </header>
</article>
{% endblock content-sidemenue %}