{% extends "base_dashboard.html" %}
{% load tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block overview-head %}
<article class="col-sm-8">
    <h2>Expert Application Management</h2>
    <hr>
    <!---->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td class="">Name</td>
                <td class="">Country</td>
                <td class="">Rank</td>
                <td class="">Role</td>
                <td class=""></td>
            </tr>
        
        </thead>
        <tbody>
            <h4>Selected/Accepted Applications <small>({{expertlist_accepted|length }}/{{ expertlist|length }})</small></h4>
            {% for application in expertlist_accepted %}
                <tr class="table-success">
                    <td class=""><a href="{% url 'dashboard:expert_detail' application.applicant.user.username %}">{{ application.applicant.user.get_full_name}}</a></td>
                    <td class=""><img src="{{application.applicant.user.profile.country.flag}}" alt=""> {{application.applicant.user.profile.country.name}}</td>
                    <td>2/32</td>
                    <td class="">{{ application.applicant.role|capfirst }}</td>
                    <td><div class="btn-group">
                        <a href="{% url 'dashboard:accept_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-success btn-sm "><i class="fa fa-check" aria-hidden="true"></i></a>
                        <a href="{% url 'dashboard:decline_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-danger btn-sm "><i class="fa fa-close" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!---->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td class="">Name</td>
                <td class="">Country</td>
                <td class="">Rank</td>
                <td class="">Role</td>
                <td class="">Accept</td>
            </tr>
        
        </thead>
        <tbody>
            <h4>Declined Applications <small>({{expertlist_declined|length }}/{{ expertlist|length }})</small></h4>
            {% for application in expertlist_declined %}
                <tr class="table-danger">
                    <td class=""><a href="{% url 'dashboard:expert_detail' application.applicant.user.username %}">{{ application.applicant.user.get_full_name}}</a></td>
                    <td class=""><img src="{{application.applicant.user.profile.country.flag}}" alt=""> {{application.applicant.user.profile.country.name}}</td>
                    <td>2/32</td>
                    <td class="">{{ application.applicant.role|capfirst }}</td>
                    <td><div class="btn-group">
                        <a href="{% url 'dashboard:accept_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-success btn-sm "><i class="fa fa-check" aria-hidden="true"></i></a>
                        <a href="{% url 'dashboard:decline_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-danger btn-sm "><i class="fa fa-close" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- REVIEWED APPLICATIONS -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td class="">Name</td>
                <td class="">Country</td>
                <td class="">Rank</td>
                <td class="">Role</td>
                <td class="">Status</td>
                <td class="">Accept</td>
            </tr>
        </thead>
        <tbody>
            <h4>Reviewed Applications <small>({{expertlist_reviewed|length }}/{{ expertlist|length }})</small></h4>
            {% for application in expertlist_reviewed %}
                <tr class="table-primary">
                    <td class=""><a href="{% url 'dashboard:expert_detail' application.applicant.user.username %}">{{ application.applicant.user.get_full_name}}</a></td>
                    <td class=""><img src="{{application.applicant.user.profile.country.flag}}" alt=""> {{application.applicant.user.profile.country.name}}</td>
                    <td>2/32</td>
                    <td class="">{{ application.applicant.role|capfirst }}</td>
                    <td class="">{{ application.get_status_display }}</td>
                    <td><div class="btn-group">
                        <a href="{% url 'dashboard:accept_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-success btn-sm "><i class="fa fa-check" aria-hidden="true"></i></a>
                        <a href="{% url 'dashboard:decline_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-danger btn-sm "><i class="fa fa-close" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!---->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td class="">Name</td>
                <td class="">Country</td>
                <td class="">Rank</td>
                <td class="">Role</td>
            </tr>
        
        </thead>
        <tbody>
            <h4>Unreviewed Applications <small>({{expertlist_unreviewed|length }}/{{ expertlist|length }})</small></h4>
            {% for application in expertlist_unreviewed %}
                <tr class="table-warning">
                    <td class=""><a href="{% url 'dashboard:expert_detail' application.applicant.user.username %}">{{ application.applicant.user.get_full_name}}</a></td>
                    <td class=""><img src="{{application.applicant.user.profile.country.flag}}" alt=""> {{application.applicant.user.profile.country.name}}</td>
                    <td>2/32</td>
                    <td class="">{{ application.applicant.role|capfirst }}</td>
                    <td class="">{{ application.get_status_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    

</article>

{% comment %}Sidebar{% endcomment %}
<section class="col-sm-4">
    <div class="card">   
    <header class="card-header">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{ expert.applicant.user.profile.profileImg.url }}" alt="">
            </div>
            <div class="col-sm-6">
                <h5>{{ expert.applicant.user.get_full_name }}</h3>
                <small>{{ expert.applicant.user.profile.expertprofile.position }} <br>
                @ {{ expert.applicant.user.profile.expertprofile.affiliation }}</small>
            </div>
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    {% if expert.applicant.user.profile.expertprofile.iba_member %}
                    <li><img class="img-fluid" style="height:30px; " src="{% static 'images/iba-logo.jpg' %}" alt=""></li>    
                    {% endif %}
                    {% if expert.applicant.user.profile.expertprofile.imi_certified %}
                    <li><img class="img-fluid" style="height:30px; " src="{% static 'images/imi-logo.png' %}" alt=""></li>
                    {% endif %}
                    {% if expert.applicant.user.profile.expertprofile.viac_member %}
                    <li><img class="img-fluid" style="height:30px; " src="{% static 'images/viac-logo-web.png' %}" alt=""></li>
                    {% endif %}      
                </ul>
            </div>
        </div>
    </header>
    <content>
        {% comment %}AVAILABILITY{% endcomment %}
        <article class="card-block">
            <header>
                <h4>Availability</h4>
            </header>
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr class="success">
                        <td>Timeslot</td>
                        <td>Mon</td>
                        <td>Tue</td>
                        <td>Wed</td>
                        <td>Thu</td>
                        <td>Fri</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Morning</td>
                        <td>0|check_available</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Afternoon</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </article>
        
        <article class="card-block">
            <header>
                <h4>Student Feedback</h4>
            </header>
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr class="success">
                        <td>Year</td>
                        <td>D1</td>
                        <td>D2</td>
                        <td>D3</td>
                        <td>Avg</td>
                        <td>Rank</td>
                    </tr>
                </thead>
                <tbody>
                    {% for year, ratings in ratings.items %}
                        <tr>
                        <td>{{ year}}</td>
                        <td>{{ ratings.feedbackQuality__avg|floatformat:"1" }}</td>
                        <td>{{ ratings.feedbackRelated__avg|floatformat:"1" }}</td>
                        <td>{{ ratings.feedbackComm__avg|floatformat:"1" }}</td>
                        <td>2.5</td>
                        <td>45/50</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </article>
        <article class="card-block">
            <header>
                <h4>Internal Comment</h4>
            </header>
            {% crispy form %}
        </article>
        
            
    </content>
    <div class="card-footer">
        Status
    </div>
    </div>
</section>
{% endblock overview-head %}

{% comment %} SUMMARY STATISTIC DISPLAY {% endcomment %}
{% block content-header %}
<!--Display SUMMARY OF HISTORICAL EXPERIENCE (ONLY IF HERE FOR THE SECOND YEAR ONWARDS) -->
<section class="row">
    <aside class="col-sm-6">
        <header>
            <h3>Historical Performance</h3>
        </header>
        <img class="img-fluid" src="https://www.placehold.it/400x200" alt="">
        <img class="img-fluid" src="https://www.placehold.it/100x200" alt="">
        Display a lineplot over the individual averages for each category
        over all historical years of participation
    </aside>
    <aside class="col-sm-6">
        <header>
            <h3>Feedback Sentiment Analysis</h3>
        </header>
        <img class="img-fluid" src="https://www.placehold.it/400x200" alt="">
        <img class="img-fluid" src="https://www.placehold.it/100x200" alt="">
        Display Summary Statistics for the Feedback given as ratings.
        Display Emotions associated with the Comments given to the Assessors by Students
    </aside>
</section>

<!-- Section to Display the Professional Experience-->
<section class="professional_experience row">
    <div class="card-deck">
        <article class="card">
            <header class="card-header">
                <h4>Mediation Experience</h4>
            </header>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>Profession</td>
                        <td>Years</td>
                        <td>Cases</td>
                        <td>Clients</td>
                    </tr>
                </thead>
                <tbody>
                    {% for experience in expert.applicant.user.profile.expertprofile.mediationexperience_set.all %}
                        <tr>
                            <td>{{ experience.get_profession_display }}</td>
                            <td>{{ experience.duration }}{{ experience.}}</td>
                            <td>{{ experience.cases }}</td>
                            <td>{{ experience.priorClients|truncatewords:'5'}}</td>
                        </tr>
                    {% endfor %}
                    <tr class="table-success" style="font-weight: bold">
                        <td>Summary</td>
                        <td>25 </td>
                        <td>250 </td>
                        <td>60 </td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article class="card">
            <header class="card-header">
                <h4>Negotiation Experience</h4>
            </header>
            <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Profession</td>
                            <td>Years</td>
                            <td>Cases</td>
                            <td>Clients</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for experience in expert.applicant.user.profile.expertprofile.negotiationexperience_set.all %}
                            <tr>
                                <td>{{ experience.get_profession_display }}</td>
                                <td>{{ experience.duration }}</td>
                                <td>{{ experience.cases }}</td>
                                <td>{{ experience.priorClients|truncatewords:'5'}}</td>
                            </tr>
                        {% endfor %}
                        <tr class="table-success" style="font-weight: bold">
                            <td>Summary</td>
                            <td>25 </td>
                            <td>250 </td>
                            <td>60 </td>
                        </tr>
                    </tbody>
                </table>

        </article>
        <article class="card">
            <header class="card-header">
                <h4>Certifications</h4>
            </header>
            <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Institution</td>
                            <td>Title</td>
                            <td>Year</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for certificate in expert.applicant.user.profile.expertprofile.certification_set.all %}
                        <tr>
                            <td>{{ certificate.title }}</td>
                            <td>{{ certificate.institution}}</td>
                            <td>{{ certificate.issueDate|date:'Y' }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </article>
    </div>
</section>


{% endblock content-header %}


<!-- The SIDEMENUE Content -->
{% block content-sidemenue %}
<aside>
    <h3>Feedback Controls</h3>
    <p>Give controls to subset and filter the Feedback Results</p>
</aside>
<aside>
    <h3>Graphical Analysis</h3>
</aside>
{% endblock content-sidemenue %}



{% comment %}{% endcomment %}
{% block content-main %}
    <article>
        <header>
            <h3>Detailed Feedback</h3>
        </header>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <td>Year</td>
                    <td>Session</td>
                    <td>D1</td>
                    <td>D2</td>
                    <td>D3</td>
                    <td>Student Comments</td>
                </tr>

            </thead>
            <tbody>
            
                {% for feedback in expert.applicant.feedback_set.all %}
                    <tr>
                        <td>{{ feedback.session.startTime|date:"Y"}}</td>
                        <td><a href="{% url 'session:session_detail' feedback.session.slug %}">{{ feedback.session }}</a></td>
                        <td>{{ feedback.feedbackQuality}}</td>
                        <td>{{ feedback.feedbackRelated}}</td>
                        <td>{{ feedback.feedbackComm}}</td>
                        <td>{{ feedback.text }}</td>
                    </tr>
                {% endfor %}
                    
            </tbody>
        </table>
    </article>


{% endblock content-main %}

{% comment %}{% endcomment %}
