{% extends "base_dashboard.html" %}
{% load tags %}
{% load crispy_forms_tags %}

{% block overview-head %}
<section class="row">
    <article class="col-sm-8">
        <header>
            <h2>Team Applications</h2>
        </header>
        <h4>Selected/Accepted Applications <small>({{teamlist_accepted|length }}/{{ teamlist|length }})</small> </h4>
        <table data-toggle="table" class="table table-striped table-hover">
            <thead class="thead-default">
                <tr>
                    <td>University</td>
                    <td>Country</td>
                    <td>Application Status</td>
                </tr>
            
            </thead>
            <tbody>
                {% for application in teamlist_accepted %}
                    <tr class="table-success">
                        <td><a href="{% url 'dashboard:team_detail' application.applicant.team.slug %}">{{ application.applicant.team.university }}</a></td>
                        <td>{{ application.applicant.team.country.name }}</td>
                        <td>{{ application.get_status_display }}</td>
                        <td><div class="btn-group">
                            <a href="{% url 'dashboard:accept_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-success btn-sm "><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a href="{% url 'dashboard:decline_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-danger btn-sm "><i class="fa fa-close" aria-hidden="true"></i></a>
                        </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% comment %}{% endcomment %}
        <table class="table table-striped table-hover">
            <thead>
                {% comment %}<tr>
                    <td>University</td>
                    <td>Country</td>
                    <td>Application Status</td>
                </tr>{% endcomment %}
            
            </thead>
            <tbody>
                <h4>Reviewed Applications <small>({{teamlist_reviewed|length }}/{{ teamlist|length }})</small></h4>
                {% for application in teamlist_reviewed %}
                    <tr>
                        <td><a href="{% url 'dashboard:team_detail' application.applicant.team.slug %}">{{ application.applicant.team.university }}</a></td>
                        <td>{{ application.applicant.team.country.name }}</td>
                        <td>{{ application.get_status_display }}</td>
                        <td><div class="btn-group">
                            <a href="{% url 'dashboard:accept_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-success btn-sm "><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a href="{% url 'dashboard:decline_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-danger btn-sm "><i class="fa fa-close" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% comment %}{% endcomment %}
        <table class="table table-striped table-hover">
            {% comment %}<thead>
                <tr>
                    <td>University</td>
                    <td>Country</td>
                    <td>Application Status</td>
                </tr>
            
            </thead>{% endcomment %}
            <tbody>
                <h4>Unreviewed Applications <small>({{teamlist_unreviewed|length }}/{{ teamlist|length }})</small></h4>
                {% for application in teamlist_unreviewed %}
                    <tr class="table-warning">
                        <td><a href="{% url 'dashboard:team_detail' application.applicant.team.slug %}">{{ application.applicant.team.university }}</a></td>
                        <td>{{ application.applicant.team.country.name }}</td>
                        <td>{{ application.get_status_display }}</td>
                        <td>{{ application}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% comment %}{% endcomment %}
        <table class="table table-striped table-hover">
            {% comment %}<thead>
                <tr>
                    <td>University</td>
                    <td>Country</td>
                    <td>Application Status</td>
                </tr>
            
            </thead>{% endcomment %}
            <tbody>
                <h4>Declined Applications <small>({{teamlist_declined|length }}/{{ teamlist|length }})</small></h4>
                {% for application in teamlist_declined %}
                    <tr class="table-danger">
                        <td><a href="{% url 'dashboard:team_detail' application.applicant.team.slug %}">{{ application.applicant.team.university }}</a></td>
                        <td>{{ application.applicant.team.country.name }}</td>
                        <td>{{ application.get_status_display }}</td>
                        <td><div class="btn-group">
                            <a href="{% url 'dashboard:accept_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-success btn-sm "><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a href="{% url 'dashboard:decline_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-danger btn-sm "><i class="fa fa-close" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ratings}}
    </article>
    

    {% comment %}Sidebar{% endcomment %}
    <article class="col-sm-4">
        <div class="card">
            <header class="card-header">
                <div class="row">
                    {% if team.applicant.team.university_logo.url %}
                    <div class="col-sm-4">
                        <img class="img-responsive" src="{{ team.applicant.team.university_logo.url }}" alt="">

                    </div>
                    {% endif %}
                    <div class="col-sm-8">
                        <span class="badge badge-success">{{team.application_score|floatformat:"2"}}</span>                        <small><img src="{{ team.applicant.team.country.flag }}" alt=""> {{ team.applicant.team.country.name }}</small>
                        <h3 class="card-title">{{ team.applicant.team.university }}</h3>
                    </div>
                </div>
            </header>
            <content class="card-block">
                
                <article>
                    <header>
                        <h4><span class="badge badge-success">{{ team.videoreview_score|floatformat:"2"}}</span>  Video Review </h4>
                    </header>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td></td>
                            </tr>
                        </thead>
                    </table>
                </article>
                {% comment %}{% endcomment %}
                <article>
                    <header>
                        <h4><span class="badge badge-success">{{ team.memberreview_score|floatformat:"2"}}</span>  Application Review</h4>
                        <small></small>
                    </header>
                    <table data-toggle="table" class="table table-striped table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <td>Member</td>
                                <td>Q1</td>
                                <td>Q2</td>
                                <td>Q3</td>
                                <td>Q4</td>
                            </tr>
                        </thead>
                        <tbody>
                                <tr class="table-success">
                                    <td>Total Average</td>
                                    <td>{{ team.q1_score|floatformat:"1"}}</td>
                                    <td>{{ team.q2_score|floatformat:"1"}}</td>
                                    <td>{{ team.q3_score|floatformat:"1"}}</td>
                                    <td>{{ team.q4_score|floatformat:"1"}}</td>
                                </tr>
                            {% for member, rating in team.member_avg_scores.items %}
                                <tr>
                                    <td>{{ member.user.get_full_name}}</td>
                                    <td>{{ rating.d1_avg|floatformat:"1"}}</td>
                                    <td>{{ rating.d2_avg|floatformat:"1"}}</td>
                                    <td>{{ rating.d3_avg|floatformat:"1"}}</td>
                                    <td>{{ rating.d4_avg|floatformat:"1"}}</td>
                                </tr>
                            {% endfor %}
                            {% comment %}Implement Summary Scores for the team{% endcomment %}
                            <p>

                            </p>
                        </tbody>
                    </table>
                </article>
                {% comment %}{% endcomment %}
                <article class="">
                    <header>
                    </header>
                    <form method="POST" class="form-horizontal">
                        {% crispy form %}
                    </form>
                </article>       
            </content>
        </div>
    </article>
    <a href="{% url 'dashboard:manage_teams' %}" class="btn btn-danger btn-sm"> Back to Overview Results</a>
</section>


{% endblock overview-head %}

{% comment %} SUMMARY STATISTIC DISPLAY {% endcomment %}
{% block content-header %}

<section class="row card-group">
    {% for member in team.applicant.team.members.all %}    
        <article class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-fluid" src="{{member.user.profile.profileImg.url}}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h5>{{member.role|capfirst}}</h5>
                        <h3 class="card-title">{{ member.user.get_full_name }}</h3>
                    </div>
                </div>
                
            </header>
            <div class="card-block">
            <table class="table table-striped table-hover">
                <small>Expert Ratings</small>
                <thead>
                    <tr>
                        <td>Year</td>
                        <td>Reviewer</td>
                        <td>D1</td>
                        <td>D2</td>
                        <td>D3</td>
                        <td>D4</td>
                    </tr>
                </thead>
                <tbody>
                    {% for application in member.application_set.all %}
                        {% for review in application.review_set.all %}
                            <tr>
                                <td>{{ application.competition_year }}</td>
                                <td>{{ review.reviewer.last_name }}</td>
                                <td>{{ review.question_1 }}</td>
                                <td>{{ review.question_2 }}</td>
                                <td>{{ review.question_3 }}</td>
                                <td>{{ review.question_4 }}</td>
                            </tr>
                        {% endfor %}
                    <tr class="table-success">
                        <td></td>
                        <td>Sumscores</td>
                        <td>{{application.q1_score|floatformat:"1"}}</td>
                        <td>{{application.q2_score|floatformat:"1"}}</td>
                        <td>{{application.q3_score|floatformat:"1"}}</td>
                        <td>{{application.q4_score|floatformat:"1"}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% comment %}{% endcomment %}
            <table class="table table-striped table-hover">
                
                {% if member.user.profile.studentprofile.competition_set %}
                    <small>Competition Experience</small>
                    {% for competition in member.user.profile.studentprofile.competition_set.all %}
                        <tr>
                            <td><img src="{{ competition.country.flag }}" alt=""></td>
                            <td>{{ competition.year }}</td>
                            <td>{{ competition.name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h5> -- Competition Experience missing --</h5>
                {% endif %}
            </table>
            {% comment %}{% endcomment %}
            <table class="table table-striped table-hover">
                {% if member.user.profile.studentprofile.internship_set %}
                    <small>International Experience</small>
                    {% for internship in member.user.profile.studentprofile.internship_set.all %}
                        <tr>
                            <td class="col-sm-1"><img src="{{ internship.country.flag }}" alt=""></td>
                            <td class="col-sm-1">{{ internship.year }}</td>
                            <td>{{ internship.duration }}</td>
                            <td>{{ internship.position }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p> -- International Experience missing --</p>
                {% endif %}
            </table>
                        </div>

        </article>
    {% endfor %} <!--End member lookup-->
</section>
{% endblock content-header %}

{% block content-sidemenue %}

{% endblock content-sidemenue %}
{% comment %}{% endcomment %}
{% block content-main %}

{% endblock content-main %}

{% comment %}{% endcomment %}
