{% extends 'base_dashboard.html' %}

{% block subnavigation %}
Subnavigation for T
{% endblock subnavigation %}

{% block overview-head %}
<div class="row">
    <div class="col-sm-4">
       <div class="card">
           <div class="card-header">
                <h2>Team Applications</h2>
           </div>

           <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="card-link" href="{% url 'dashboard:manage_teams' %}">Overall Ranking </a></li>
                <li class="list-group-item"><a class="card-link" href="{% url 'dashboard:manage_teams' %}">Finished Reviews 4/34</a></li>
                <li class="list-group-item"><a class="card-link" href="{% url 'dashboard:manage_teams' %}">Unfinished Reviews 30/34</a></li>
            </ul>

       </div>
    </div>
    <div class="col-sm-8">
        <h3>Overall Ranking</h3>
        <table class="table table-striped table-hover">
            <thead class="thead-default">
                <tr>
                    <td>No.</td>
                    <td>Continent</td>
                    <td>University</td>
                    <td>Country</td>
                    <td>Team</td>
                    <td>Video</td>
                    <td class="table-success">Total</td>
                    <td>Application Status</td>
                    <td></td>
                </tr>
            
            </thead>
            <tbody>
                {% for application in team_applications %}
                    <tr>
                        <td class="text-center table-warning">{{ application.overall_rank }}</td>
                        <td class="text-center">{{ application.continent_rank }}</td>
                        <td><a href="{% url 'dashboard:team_detail' application.applicant.team.slug %}">{{ application.applicant.team.university }}</a></td>
                        <td><img src="{{ application.applicant.team.country.flag }}" alt=""> {{ application.applicant.team.country.name }}</td>
                        <td>{{ application.memberreview_score|floatformat:"2" }}</td>
                        <td>{{ application.videoreview_score|floatformat:"2" }}</td>
                        <td class="table-success">{{ application.application_score|floatformat:"2" }}</td>
                        <td>{{ application.get_review_status_display }}</td>
                        <td  {% if application.selection_status == 3%}class="table-success" {% elif application.selection_status == 2 %} class="table-danger"{% endif %}><div class="btn-group">
                            <a href="{% url 'dashboard:accept_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-success btn-sm "><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a href="{% url 'dashboard:decline_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-danger btn-sm "><i class="fa fa-close" aria-hidden="true"></i></a>
                        </div>
                        </td>
                    </tr>
            	{% endfor %}
            </tbody>
        </table>
    </div>
</article>

{% endblock overview-head %}

{% block content-header %}
<h3>Ranking Statistics</h3>

<!--Display the Inidividual RANKINGS FOR EACH CONTINENT -->
<section class="row">
    {% for continent, continent_list in teamlists.items %}
        <div class="col-sm-6">
            <h3>{{ continent }}</h3>
            <table class="table table-striped table-hover">
                <thead class="thead">
                    <tr>
                        <td>Local</td>
                        <td>Global</td>
                        <td>University</td>
                        <td>Country</td>
                        <td>Total</td>
                        <td>Video</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for application in continent_list %}
                    <tr>
                        <td class="text-center table-warning">{{ application.continent_rank }}</td>
                        <td>{{ application.overall_rank }} / {{ team_applications|length }}</td>
                        <td {% if application.selection_status == 3 %} class="table-success" {% elif application.selection_status == 2 %} class="table-danger" {% endif %} ><a href="{% url 'dashboard:team_detail' application.applicant.team.slug %}">{{ application.applicant.team.university }}</a></td>
                        <td><img src="{{application.applicant.team.country.flag}}" alt=""> {{ application.applicant.team.country.name }}</td>
                        <td>{{ application.application_score|floatformat:"2" }}</td>
                        <td>{{ application.videoreview_score|floatformat:"2"}}</td>
                        {% comment %}{% for member in application.applicant.team.members.all %}
                        <td>{{ member.score }}</td>
                        {% endfor %}{% endcomment %}
                        <td><div class="btn-group">
                            <a href="{% url 'dashboard:accept_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-success btn-sm "><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a href="{% url 'dashboard:decline_application' application.id %}?next={{ request.path }}" name="" id="" class="btn btn-danger btn-sm "><i class="fa fa-close" aria-hidden="true"></i></a>
                        </div>
                            
                    </tr> 
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    {% endfor %}            
</section>
{% endblock content-header %}


{% block content-sidemenue %}
{% endblock content-sidemenue %}

{% comment %}{% endcomment %}
{% block content-main %}


{% endblock content-main %}

{% comment %}Subblock {% endcomment %}
{% block scoring-section %}
<section class="row">
    <h3>Summary Statistics</h3>
</section>
{% endblock scoring-section %}