{% extends 'base.html' %}
{% load tags %}
{% load crispy_forms_tags %}



{% comment %}CRISPY LOADERS{% endcomment %}
{% crispy userForm %}
{% crispy profileFormHeader profileFormHeader.helper %}
{% crispy profileFormHeaderSide profileFormHeaderSide.helper %}
{% crispy profileFormSide profileFormSide.helper %}
{% crispy profileFormMembership profileFormMembership.helper %}
{% crispy profileFormMain profileFormMain.helper %}
<!--{% crispy negotiationExp negotiationExp_helper %}
{% crispy mediationExp mediationExp_helper %}-->

{% block content %}
<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
    <section class="jumbotron">
        <div class="container">
            <article>
                <header class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="img-fluid" src="https://placehold.it/190x210" alt="">
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>{{user.attendent.role|capfirst}}</h4>
                                        {{user.get_full_name}}
                                        <small>{{user.email}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                {% crispy profileFormHeaderSide %}
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-8">
                        <h3>Background</h3>
                        {% crispy profileFormHeader %}
                    </div>
                </header>
                <content>
                    
                </content>
            </article>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <section class="col-md-3 sidebar-left">
                <h4>Memberships</h4>
                {% crispy profileFormMembership %}
                <h4>Contact Details</h4>
                {% crispy profileFormSide %}
            </section>
            <section class="col-md-9 form-display">
               
            </section>
        </div>
    </section>
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block footer-left %}
<h2>Left Footer Section</h2>
{% endblock %}

{% block footer-right %}
<h2>Right footer</h2>
{% endblock footer-right %}





<!--Store-->
 <!--<h3>Negotiation Experience</h3>
                <p>Please describe to us the professional background you bring
                    to the table here.
                </p>
                {% crispy negotiationExp negotiationExp_helper %}

                <h3>Mediation Experience</h3>
                <p>Please describe to us the professional background you bring
                        to the table here.
                    </p>
                {% crispy mediationExp mediationExp_helper %}-->